<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <%= link_to "Go Back", :back %>
    <h2>Settings</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>
        <br>
        <%= f.input :username, required: true, autofocus: true %>
        <br>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
        
        <%= f.input :password, autocomplete: "off", required: false %>
        <br>
        <%= f.input :password_confirmation, required: false %>
        <br>
        <%= f.input :current_password, required: true %>
      </div>
      <br> 
      <div class="form-actions">
        <%= f.button :submit, "Update" %>
      </div>
    <% end %>
    <br>    <br>
    <p style="font-size: 11px;"><%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure you want to cancel your account? Canceling your account also deletes all your recipes. You cannot undo this action." }, method: :delete %> </p>

  </div>
</div>
